body {
  margin: 0;
  font-family: "Courier New", Courier, monospace ;
  background: linear-gradient(89deg, #eb3349  0%, #f45c43 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

buttons{
  cursor: pointer;
}
